html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.h1 {
  color: #333333;
  font-size: 2.7rem;
  line-height: 3.1rem;
  padding-top: 26px;
  padding-bottom: 0;
  padding-left: 25px;
  margin: 0;
}

.h2 {
  color: #333333;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding-top: 29px;
  padding-bottom: 0;
  margin: 0;
}

.p {
  color: #333333;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding-top: 6px;
  padding-bottom: 0;
  padding-left: 25px;
  margin: 0;
}

.header, .footer {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.root {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 92px auto auto 64px;
      grid-template-rows: 92px auto auto 64px;
}

.header {
  grid-column: 1 / -1;
  position: -webkit-sticky;
  position: sticky;
  height: 92px;
  border-bottom: 1px solid #F0F0F0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__link {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
  color: #333333;
  opacity: .6;
}

.header__link_active {
  opacity: 1;
}

.header__link:nth-child(1) {
  margin-left: 52px;
  margin-right: 28px;
}

.header__link:nth-child(2) {
  margin-right: 26px;
}

.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin-left: 40px;
}

.main__content {
  margin-top: 20px;
  background-image: url(../img/bg@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 331px;
  width: 630px;
}

.main__cards {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
}

.main__cards::-webkit-scrollbar {
  display: none;
}

.main__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 120px;
}

.main__card:first-child {
  margin-top: 20px;
}

.main__card:last-child {
  margin-bottom: 20px;
}

.temp {
  display: inline-block;
  padding-left: 25px;
}

.temp__category {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #858585;
  padding-top: 25px;
  margin: 0;
}

.temp__number {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.2rem;
  color: #333333;
  padding-top: 0;
  margin: 0;
}

.temp__icon {
  width: 26px;
  height: 26px;
  margin-left: -8px;
}

.card {
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 14px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card__h3 {
  color: #333333;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0;
  margin: 0;
}

.card__p {
  color: #858585;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding-top: 3px;
  margin: 0;
}

.card:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
          box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.filter::-webkit-scrollbar {
  display: none;
}

.filter__category {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #000000;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: bold;
  padding: 7px 15px 8px 15px;
  margin: 0 5px;
  background-color: #F7F7F7;
  border-radius: 20px;
}

label.filter__category:first-of-type {
  margin-left: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background-color: #FFD93E;
}

.favorite-scripts {
  grid-column: 2 / -1;
  width: 635px;
}

.favorite-scripts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  height: 331px;
  width: 635px;
  margin-left: 26px;
  margin-right: 40px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.favorite-scripts__cards::-webkit-scrollbar {
  display: none;
}

.favorite-scripts__card {
  margin-right: 15px;
  height: 100px;
}

.favorite-scripts__card:nth-child(1) {
  margin-left: 3px;
}

.favorite-scripts__card:nth-child(2) {
  margin-left: 3px;
}

.favorite-devices {
  grid-column: 1/ -1;
}

.favorite-devices__cards {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  height: 140px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.favorite-devices__cards::-webkit-scrollbar {
  display: none;
}

.favorite-devices__card {
  height: 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 15px;
}

.favorite-devices__card:first-child {
  margin-left: 40px;
}

.favorite-devices__card:last-child {
  margin-right: 40px;
}

.favorite-devices__filter {
  padding-left: 13px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.arrows_hidden {
  visibility: hidden;
}

.arrow {
  width: 8px;
  height: 14px;
  opacity: .3;
  margin: 0 10px;
}

.arrow:active {
  opacity: 1;
  fill: #333333;
}

.arrow:last-child {
  margin-right: 4px;
}

.full-width-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.between-wrapper {
  margin-left: 28px;
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.between-wrapper_margin_on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 40px;
}

.footer {
  grid-column: 1 / -1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__link {
  font-size: 1.2rem;
  color: #858585;
  margin: 0 7px;
}

.footer__link:nth-child(1) {
  margin-left: 0;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #858585;
  margin-right: 36px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 20px 0;
}

.popup__container {
  margin: 0 20px;
  max-width: 630px;
  min-width: 100px;
}

.popup__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 25px 0;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 25px;
  padding-right: 25px;
}

.popup__h1 {
  padding: 0;
  margin: 0;
}

.popup__icon {
  height: 41px;
  width: 41px;
  padding: 0;
  margin: 0;
}

.popup__p {
  padding-left: 25px;
  padding-right: 25px;
}

.popup__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  padding-left: 20px;
}

.popup__range-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.popup__pre {
  width: 0;
  position: relative;
  left: 20px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #ffffff;
}

.popup__post {
  width: 0;
  position: relative;
  right: 50px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #ffffff;
}

.popup__buttons {
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 60px;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #068FFF), color-stop(51%, #FFD800), to(#F76B1C));
  background: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  padding: 0;
  margin: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 68px;
  height: 68px;
  background: radial-gradient(circle closest-side, transparent 27px, rgba(51, 51, 51, 0.1) 27px, rgba(51, 51, 51, 0.1) 30px, white 30px, white 100%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.button {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #333333;
  text-align: center;
  width: 48%;
  padding-top: 20px;
  padding-bottom: 19px;
  margin: 20px 0 0 0;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #F7F7F7;
}

.button_primary {
  background-color: #FFD93E;
}

.button_primary:hover {
  background-color: #FFD11A;
}

.popup__category:first-child {
  margin-left: 0;
}

.popup__filter {
  margin: 20px 0 25px 0;
}

.popup__filter__category {
  display: inline;
}

label.popup__category:first-of-type {
  margin-left: 25px;
}

.hide, .hide * {
  display: none;
  position: absolute;
}

@media (max-width: 500px) {
  .popup {
    height: 100%;
  }
  .popup__wrap {
    padding: 20px 0 25px;
    max-width: 370px;
  }
  .popup__h1 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  .popup__p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .popup__filter {
    margin-top: 15px;
  }
  .popup__category {
    font-weight: normal;
  }
  .popup__range-container {
    padding: 0;
    margin: 25px 0;
    height: 290px;
    width: 100%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .popup__pre {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -13px;
    left: 32px;
  }
  .popup__post {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -15px;
    left: -35px;
  }
  .popup__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup__button {
    width: 100%;
    margin-top: 15px;
  }
  .popup__cont, .popup__cont * {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */