@media (max-width: 425px) {
  .root {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 55px auto auto auto 200px;
        grid-template-rows: 55px auto auto auto 200px;
  }
  .main, .favorite-scripts, .favorite-devices {
    grid-column: 1 / -1;
  }
  .header {
    border-bottom: none;
    padding: 0 20px;
  }
  .header__menu {
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__link {
    margin: 10px 0;
  }
  .header__link:nth-child(1), .header__link:nth-child(2) {
    margin: 10px 0;
  }
  .main {
    margin: 0 20px;
  }
  .main__h2 {
    display: none;
  }
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main__h1 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-top: 21px;
  }
  .main__cards {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 120px;
    margin: 20px 0;
  }
  .main__card {
    display: inline-block;
    margin: 0 0 0 20px;
  }
  .main__card:first-child {
    margin-top: 0;
  }
  .main__card:last-child {
    margin-bottom: 0;
  }
  .temp__icon {
    width: 18px;
    height: 18px;
    padding-left: 5px;
  }
  .temp__number {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .arrows {
    display: none;
  }
  .favorite-scripts__cards {
    width: 100vw;
    height: auto;
    margin-left: 0;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .favorite-scripts__card {
    display: inline-block;
  }
  .favorite-scripts__card:first-child {
    margin-left: 20px;
  }
  .favorite-scripts__card:last-child {
    margin-right: 20px;
  }
  .favorite-devices__card:first-child {
    margin-left: 20px;
  }
  .favorite-devices__card:last-child {
    margin-right: 20px;
  }
  .between-wrapper {
    margin: 0 20px;
  }
  .between-wrapper_margin_on {
    margin: 0 20px;
  }
  .footer {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__link {
    margin: 0;
    text-align: center;
  }
  .footer__copyright {
    margin-right: 0;
  }
}
/*# sourceMappingURL=page-adaptive.css.map */