@media (max-width: 500px)

  .popup

    &__wrap
      padding: 20px 0

    &__h1
      font-size: 1.8rem
      line-height: 2.1rem

    &__p
      font-size: 1.2rem
      line-height: 1.4rem

    &__filter
      margin-top: 15px

    &__category
      font-weight: normal

    &__range-container
      padding: 0
      margin: 25px 0
      height: 230px
      transform: rotate(-90deg)

    &__pre
      transform: rotate(90deg)
      top: -13px
      left: 32px

    &__post
      transform: rotate(90deg)
      top: -15px
      left: -35px

    &__buttons
      flex-direction: column

    &__button
      width: 100%
      margin-top: 15px

    &__cont, &__cont *
      display: none

  // .range
  //   min-width: 100px
  //   max-width: 400px
