.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
}

.popup__container {
  margin: 0 20px;
  max-width: 630px;
  min-width: 100px;
}

.popup__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 25px 0;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 25px;
  padding-right: 25px;
}

.popup__h1 {
  padding: 0;
  margin: 0;
}

.popup__icon {
  height: 41px;
  width: 41px;
  padding: 0;
  margin: 0;
}

.popup__p {
  padding-left: 25px;
  padding-right: 25px;
}

.popup__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  padding-left: 20px;
}

.popup__filter {
  margin: 20px 0 25px 0;
}

.popup__category:first-child {
  margin-left: 25px;
}

.popup__category:last-child {
  margin-right: 25px;
}

.popup__range-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.popup__pre {
  width: 0;
  position: relative;
  left: 20px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #ffffff;
}

.popup__post {
  width: 0;
  position: relative;
  right: 50px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #ffffff;
}

.popup__buttons {
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 60px;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #068FFF), color-stop(51%, #FFD800), to(#F76B1C));
  background: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  padding: 0;
  margin: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 68px;
  height: 68px;
  background: radial-gradient(circle closest-side, transparent 27px, rgba(51, 51, 51, 0.1) 27px, rgba(51, 51, 51, 0.1) 30px, white 30px, white 100%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.button {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: bold;
  color: #333333;
  text-align: center;
  width: 48%;
  padding-top: 20px;
  padding-bottom: 19px;
  margin: 20px 0 0 0;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #F7F7F7;
}

.button_primary {
  background-color: #FFD93E;
}

.button_primary:hover {
  background-color: #FFD11A;
}
/*# sourceMappingURL=popup.css.map */